.headerContainer{
    display: flex;
    flex-direction: column;
}
.topBannerRow{
display: flex;
height: 30px;
}
.searchLogoProfileRow{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

.searchLogoContainer{
    flex-basis: 70%;
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.logoContainer{
    flex-basis: 10%;
margin:5px 10px;
}
.searchContainer{
    flex-basis: 70%;
    margin:5px 10px;
}
.profileShoppingContainer{
flex-basis: 20%;
display: flex;
flex-direction: row;
justify-content: end;
}
.profileContainer{

}
.profileLink{
    background-color: white;
    color:grey;
    border: none;
}
.sepLine{
    content: '';
    background-color: grey;
    width:1px;
    height: 25px;
    margin: 5px 20px;
}
.shoppingBasketContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 20px;
}
.shoppingBasketLink{
    background-color: white;
    color:grey;
    border: none;
}
.navBarRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 480px) {

    
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){


}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){

}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {

}