.outerContainer{
    display: flex;
    position: relative;
    
 
}
.locationButton{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.locationContent{
justify-content: space-between;
flex-direction: row;
flex-wrap: nowrap;
position: absolute;
width: 450px;
height: 150px;
background-color: white;
z-index: 100;
top: 40px;
left: 5px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.locationLink{
    text-decoration: none;
    color: #424750;
    
}
.locationIcon{
    font-size:18px;
}
.locationText{
    font-size: 12px;
}