.locationLink{
    text-decoration: none;
    color: #424750;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.locationIcon{
    font-size:18px;
}
.locationText{
    font-size: 12px;
}