.outerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 560px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-bottom: 20px;
}
.loginHeader{
 margin: 0px auto;
}
.loginContent{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;

}
.title{
    display: flex;
    flex-direction: row;
color: #ee384e;

}
.sepLine{
    content: " ";
    background-color: #ee384e;
    width: 2px;
    height: 30px;
    margin: 5px 10px;

}
.titleText{
font-size: 28px;
font-weight: bold;
}
.formTitle{
 display: flex;
 margin: 50px 10px;
}
.formTitleText{
color: grey;
font-size: 14px;
}
.form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.field{
    border: 1px solid #e2e2e2;
 border-radius: 10px;
 outline: none;
 color: black;
 font-size: 12px;
 width: 300px;
 height: 50px;
 margin: 10px 0px;
}
.loginButton{
 border: none;
 outline: none;
 color:white;
 background-color:#ee384e ;
 width: 300px;
 height: 50px;
 border-radius: 10px;
}
.loginFooter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footerText{
font-size: 12px;
text-align: center;
color: grey;
}
@media (max-width: 480px) {
    .outerContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .formTitleText{
        color: grey;
        font-size: 10px;
        }
    .field{
        border: 1px solid #e2e2e2;
     border-radius: 10px;
     outline: none;
     color: black;
     font-size: 12px;
     width: 95%;
     height: 50px;
     margin: 10px 0px;
    }
    .loginButton{
     border: none;
     outline: none;
     color:white;
     background-color:#ee384e ;
     width: 95%;
     height: 50px;
     border-radius: 10px;
    }
    .loginFooter{
        display: none;

    }
    
}