.outerContainer{
    display: flex;
    flex-direction: row;
}
.sideBar{
flex-basis: 20%;
font-size: 22px!important;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
border-radius: 7px;
}
.personalInformations{

}
.information{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 20px;
}
.name{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 5px;
}
.mobile{
font-size: 14px;
font-weight: bold;
color: lightgrey;
}
.details{

}
.mainContent{
flex-basis: 70%;
display: flex;
flex-direction: column;
align-items: center;
}
.varification{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
border-radius: 7px;
width: 900px;
margin: 20px auto;
font-size: 14px;
padding: 10px 5px;
}
.orderDetails{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
width: 900px;
margin: 20px auto;
border-radius: 7px;
}
.detailsTitle{
margin: 20px;
font-weight: bold;
}
.detailsItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item{
flex-basis: 30%;
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
}
.itemImage{

}
.itemCondition{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    font-size: 14px;
}
.ConditionNumber{

}
.ConditionName{
font-weight: bold;
}
.organsOrder{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
font-size: 14px;
border-radius: 7px;
width: 900px;
padding: 10px 5px;
}