.shoppingItemsContainer{
    display: flex;
    flex-direction: column;
    border-bottom:1px solid black;

}
.shoppingItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shoppingItemImageContainer{

}
.shoppingItemImage{
    width: 300px;
    height: auto;

}
.shoppingItemDescribtion{
    display: flex;
    flex-direction: column;
}
.shoppingItemName{

}
.shoppingItemCount{

}
.shoppingItemPrice{

}