.outerContainer{
width: 100%;
}
.headerContainer{
    margin: 10px auto;
    width: 100%;
}
.headerResponsive{
    display: none;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    top: 0px;
    z-index: 200;
    background-color: white;
}
.mainContainer{
width: 100%;
}
.footerContainer{
width: 100%;
}
.footerResponsive{
    display: none;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 70px;
    bottom: 0px;

}
@media (max-width: 480px) {
.header{
    display: none;
}
.headerResponsive{
    display: flex;
}
.footer{
    display: none;
}
.footerResponsive{
    display: flex;
}

    
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
.header{
    display: none;
}
.headerResponsive{
    display: flex;
}
.footer{
    display: none;
}
.footerResponsive{
    display: flex;
}

}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
.header{
    display: none;
}
.headerResponsive{
    display: flex;
}
.footer{
    display: none;
}
.footerResponsive{
    display: flex;
    
}

}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){

}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {

}