.menuSideBar{
    flex-basis: 20%;
    display: flex;
    overflow-y: scroll;
    flex-wrap: nowrap;
    background-color: #f0f0f1;

}
.menuContent{
    flex-basis: 80%;
    display: flex;
    overflow-y: scroll;
    flex-wrap: nowrap;
    width: 100%;
}