
.navigationContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    text-align: center;
}
.navMenu{
flex-basis: 15%;
}
.navItems{
flex-basis: 60%;
}
.navOffers{
flex-basis: 25%;
}