.addButtonContainer{
    display: flex;
    justify-content: center;
    text-align: center;
}
.addButton{
 background-color: #e6123d;
 color: white;
 border:none;
 width: 130px;
 height: 30px;
 border-radius: 12px;
 font-size: 12px;
 font-weight: bold;
}