.outerContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f0f0f1;
}
.partnerLink{
text-decoration: none;
border-bottom: 1px solid #e0e0e2;
height: 80px;
}
.partnerImage{
 margin: 30px 50px;
}
